{{#if filter}}
  <section class="ui raised segment">
    <div class="ui grid">
      <div class="ui three wide column">
        <form action="/tweetlist" method="POST">
          <div class="ui fluid dropdown">
            <input name="user" type="hidden">
            <div class="text">List of Users</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each users}}
                <div class="item" data-value={{_id}}>{{email}}</div>
              {{/each}}
            </div>
          </div>
        </div>
        <div class="ui one wide column">
          <button class="ui blue submit button">Filter</button>
        </form>
      </div>
      <div class="ui two wide column">
        <form action="/tweetlist" method="GET">
          <button class="ui violet submit button">All Tweets</button>
        </form>
      </div>
      <div class="ui three wide column">
        <form action="/tweetlist" method="POST">
          <input type="hidden" name="following" value={{filter}}>
          <button class="ui blue submit button">Following Only</button>
        </form>
      </div>
    </div>
    <div class="ui divider"></div>
  </section>
{{/if}}
{{#each tweets}}
  <div class="ui fluid card">
    <div class="content">
      <img class="ui avatar image" src="/getPublicPicture/{{{tweeter._id}}}" altSrc="images/placement.jpg"
           onerror="this.src = $(this).attr('altSrc')">
      <form style="display:inline" action="/profile" method="POST">
        <input type="hidden" name="id" value={{tweeter._id}}>
        <button class="ui secondary basic button" formaction="/profile" formmethod="POST">
          {{tweeter.firstName}} {{tweeter.lastName}}
        </button>
      </form>
    </div>
    <div class="content">
      {{content}}
      {{#if this.picture.data}}
        <div class="image">
          <br><img src="/getTweetPicture/{{{_id}}}">
        </div>
      {{/if}}
    </div>
  </div>
{{/each}}
