
<table class="ui very basic celled table" style="table-layout: fixed">
  <form class="ui form deleteAllTweets">
    <button class="ui red submit button">Delete All Tweets</button>
  </form>
  <div class="ui divider"></div>
  <div class="ui divider"></div>
  <thead>
  <tr>
    <th class="right aligned" width="20%">Tweeter</th>
    <th class="center aligned" width="70%">Tweet</th>
    <th width="10%">Delete</th>
  </tr>
  </thead>
  <tbody>
  <form class="ui form deleteTweets">
    {{#each tweets}}
      <tr class="usertweets" value={{tweeter._id}}>
        <td class="right aligned"> {{tweeter.firstName}} {{tweeter.lastName}} </td>
        <td style="word-wrap: break-word"> {{content}} {{#if this.picture.data}}
          <br> <img src="/getTweetPicture/{{{_id}}}">
        {{/if}}</td>
        <td>
          <input type="checkbox" id="delete" name="delete" value={{_id}}>
        </td>
      </tr>
    {{/each}}
    <td></td>
    <td></td>
    <td><button class="ui mini red submit button">Delete</button></td>
  </form>
  </tbody>
</table>
