{{> authmenu }}
<section class="ui container">
  <div class="ui grid">
    <div class="ui ten wide column">
      <div class="ui centered card">
        <div class="image">
          <img src="/getPublicPicture/{{tweeter._id}}" altSrc="images/placement.jpg" onerror="this.src = $(this).attr('altSrc')">
        </div>
        <div class="content">
          <h2 class="header" style="float: left">{{tweeter.firstName}} {{tweeter.lastName}}</h2>
          {{#if bool}}
            <a style="float: right" href="/tweeter">Tweet</a>
          {{else}}
            {{#if friend}}
              <form style="display: inline;" action="/unfollow" method="POST">
                <input type="hidden" name="id" value={{tweeter._id}}>
                <button class="ui small purple submit button" style="float: right">Unfollow</button>
              </form>
            {{else}}
              <form style="display: inline;" action="/follow" method="POST">
                <input type="hidden" name="id" value={{tweeter._id}}>
                <button class="ui small purple submit button" style="float: right">Follow</button>
              </form>
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
    <div class="ui five wide column">
      <section class="ui fluid segment">
        {{#if following}}
          <h3>Following: </h3>
          {{#each following}}
            <form style="display:inline" action="/profile" method="POST">
              <input type="hidden" name="id" value={{_id}}>
              <button class="ui secondary basic button" formaction="/profile" formmethod="POST">
                <img class="ui avatar image" src="/getPublicPicture/{{{_id}}}" altSrc="images/placement.jpg"
                     onerror="this.src = $(this).attr('altSrc')"> {{firstName}} {{lastName}}
              </button>
            </form>
          {{/each}}
        {{/if}}
        {{#if following}}
          <h3>FollowedBy: </h3>
          {{#each follower}}
            <form style="display:inline" action="/profile" method="POST">
              <input type="hidden" name="id" value={{_id}}>
              <button class="ui secondary basic button" formaction="/profile" formmethod="POST">
                <img class="ui avatar image" src="/getPublicPicture/{{{_id}}}" altSrc="images/placement.jpg"
                     onerror="this.src = $(this).attr('altSrc')"> {{firstName}} {{lastName}}
              </button>
            </form>
          {{/each}}
        {{/if}}
        <h3>Has made {{tweets.length}} posts</h3>
      </section>
    </div>
  </div>
  {{>publictweetlist}}
</section>
</body>
</html>